@page "/campings"
@using DAL.Models
@inject HttpClient Http

<style>
	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto auto;
		padding: 10px;
	}
</style>

<div style="padding:5px; padding-left:10px; background-color:#d9d9d9; margin-bottom:5px;">
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb breadcrumb-dark">
			<li class="breadcrumb-item"><a href="#">Página principal</a></li>
			<li class="breadcrumb-item active" aria-current="page">Campamentos</li>
		</ol>
	</nav>
</div>

<div>
	@if (showSearchMenu)
	{
		<div style="float:left; padding:20px; width:fit-content; height:100vh; background-color:#d9d9d9; margin-right:10px">
			<form @onsubmit="SearchCamps">
				<div class="form-group">
					<label for="searchName" class="col-form-label-lg">Nombre</label>
					<input type="text" class="form-control form-control-lg" id="searchName" @bind-value="name" />
				</div>
				<div class="form-group">
					<label for="searchPrice" class="col-form-label-lg">Precio</label><br/>
					<RadzenSlider Range="true" @bind-Value=@price TValue="IEnumerable<int>" id="searchPrice" Style="width:100%; color:#e1871d" />
					<a>@price.First()€ - @price.Last()€</a>
				</div>
				<div class="form-group">
					<label for="searchPlace" class="col-form-label-lg">Localidad</label>
					<select id="searchPlace" class="form-select form-select-lg" @bind=@locality>
						<option selected>Escoge una localidad</option>
						<option value="1">Valencia</option>
						<option value="2">Castellón</option>
						<option value="3">Alicante</option>
					</select>
				</div>
				<div class="form-group">
					<label for="searchServices" class="col-form-label-lg">Servicios</label>
					<div id="searchServices">

						<img width="40" height="40" src="/images/service_icons/dinner.png"/>

						<img width="40" height="40" src="/images/service_icons/beds.png" />

						<img width="40" height="40" src="/images/service_icons/pool.png" />

					</div>
					
				</div>
				<div class="form-group">
					<label for="searchCapacity" class="col-form-label-lg">Aforo</label>
					<RadzenSlider Range="true" Min="0" Max="200" @bind-Value=@people TValue="IEnumerable<int>" id="searchCapacity" Style="width:100%; color:#e1871d" />
					<a>@people.First() - @people.Last() personas</a>
				</div>
				<div style="text-align:center;">
					<button type="submit" class="btn btn-primary btn-lg" style="background-color:#e1871d; border-color:#e1871d">Buscar</button>
				</div>				
			</form>
		</div>
	}

	<div style="text-align: center; width:100%;">
		<h1 style="color:#d9d9d9">Listado de campamentos</h1>

		<h3 style="color:#d9d9d9">Echa un vistazo a los campamentos disponibles</h3>

		<div align="left" style="padding-left:10px; margin-bottom:20px;">
			<Button class="btn btn-primary" style="background-color:#e1871d; border-color:#e1871d" @onclick="showSearch">
				@if (!showSearchMenu)
				{
					<i class="bi bi-search"></i>
				}
				else{
					<i class="bi bi-x-lg"></i>
				}
			</Button>
		</div>

		<div class="grid-container">
			@foreach(CampingCard c in CampingCards)
			{
				<div class="card mx-5" style="width: 18rem; margin-bottom:10px;">
					<img src="data:image/png;base64,@Convert.ToBase64String(c.Image)" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">@c.name</h5>
						<p class="card-text">@c.Locality</p>
						<p class="card-text">@c.price € persona/noche</p>
						<div style="margin-bottom:5px;">
							@foreach(Service s in c.Services)
							{
								<div style="display:inline-block; margin-left:3px; margin-right:3px;">
									<img width="40" height="40" src="data:image/png;base64,@Convert.ToBase64String(s.Icon)" />
								</div>
							}
						</div>
						<a href="campings/@c.CampingId" class="btn btn-primary align-middle" style="background-color:#e1871d; border-color:#e1871d">Ver más</a>
					</div>
				</div>
			}			
		</div>
	</div>
</div>







