@page "/comparator"
@using DAL.Models
@inject HttpClient Http

<div style="text-align:center">
	<h1 style="color:#d9d9d9">Comparador de campamentos</h1>

	<h3 style="color:#d9d9d9">Diferencia dos campamentos</h3>

	<div style="padding-left:50px; padding-right:50px;">
		<div style="display:inline-block; text-align:center; float:left">
			<h1 style="color:#d9d9d9">Campamento a comparar</h1>
			<input type="text" class="form-control form-control-lg" style="margin-bottom:15px" placeholder="🔍 Busca por nombre" />
			@foreach(Camping c in campings)
			{
				<div style="text-align:center; width:500px; height:100px; background-color:#d9d9d9; margin-bottom:10px; border-radius:3px">
					<img src="data:image/png;base64,@Convert.ToBase64String(c.Portrait)" width=150 height=100 style="float:left; border-top-left-radius:3px; border-bottom-left-radius:3px" />
					<div style="display:inline-block; text-align:left; vertical-align:middle; float:left; margin-left:15px; margin-top:25px;">
						<h3 style="color:#e1871d">@c.Name</h3>
						<p style="color:#e1871d">@c.Locality</p>
					</div>
					<div style="display:inline-block; margin-top:30px; margin-right:30px; float:right">
						<input class="btn-check" type="radio" name="campingList1" id="@c.Id" @onclick="() => CheckCamping(true, c)"/>
						<label class=" btn btn-secondary" for="@c.Id"><i class="bi bi-check-lg"></i></label>
					</div>		
				</div>
			}
		</div>

		@if(camping1 == null || camping2 == null || camping1.Id == camping2.Id)
		{
			<Button class="btn btn-lg btn-primary" disabled style="background-color:#e1871d; border-color:#e1871d; transform: translateY(600%);" @onclick="OnShowModalClick">Comparar</Button>
		}
		else
		{
			<Button class="btn btn-lg btn-primary" style="background-color:#e1871d; border-color:#e1871d; transform: translateY(600%);" @onclick="OnShowModalClick">Comparar</Button>
		}	
		
		<div style="display:inline-block; text-align:center; float:right">
			<h1 style="color:#d9d9d9">Comparar con</h1>
			<input type="text" class="form-control form-control-lg" style="margin-bottom:15px" placeholder="🔍 Busca por nombre" />
			@foreach (Camping c in campings)
			{
				<div style="text-align:center; width:500px; height:100px; background-color:#d9d9d9; margin-bottom:10px; border-radius:3px">
					<img src="data:image/png;base64,@Convert.ToBase64String(c.Portrait)" width=150 height=100 style="float:left; border-top-left-radius:3px; border-bottom-left-radius:3px" />
					<div style="display:inline-block; text-align:left; vertical-align:middle; float:left; margin-left:15px; margin-top:25px;">
						<h3 style="color:#e1871d">@c.Name</h3>
						<p style="color:#e1871d">@c.Locality</p>
					</div>
					<div style="display:inline-block; margin-top:30px; margin-right:30px; float:right">
						<input class="btn-check" type="radio" name="campingList2" id="@c.Id 2" value="@c.Name" @onclick="() => CheckCamping(false, c)" />
						<label class=" btn btn-secondary" for="@c.Id 2"><i class="bi bi-check-lg"></i></label>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<Modal @ref="comparationModal" Title="Resultados">
	<BodyTemplate>
		<div class="d-flex justify-content-center" style="text-align:center">
			<div style="display:inline-block; width:60%">
				<h3>@camping1!.Name</h3>
				<a style="font-size:20px;">@camping1!.Price €</a>
				@if (IsCheaper)
				{
					<a class="text-success" style="font-size:20px;">&nbsp;&nbsp;Más barato</a>
				}
				<br />
				<div style="margin-top:5px; margin-bottom:5px;">
					@foreach (Service s in Camping1Has)
					{
						<div style="display:inline-block; margin-left:3px; margin-right:3px">
							<img width="60" height="60" src="data:image/png;base64,@Convert.ToBase64String(s.Icon)" />
						</div>
					}
					@if (Camping1Has.Count < 1)
					{
						<div style="height:60px" />
					}
				</div>
				<a style="font-size:20px;">@camping1!.Capacity personas</a>
				@if (IsBigger)
				{
					<a class="text-success" style="font-size:20px;">&nbsp;&nbsp;Mayor aforo</a>
				}
			</div>
			<div class="vr" style="display:inline-block"></div>
			<div style="display:inline-block; width:60%">
				<h3>@camping2!.Name</h3>
				<a style="font-size:20px;">@camping2!.Price €</a>
				@if (!IsCheaper)
				{
					<a class="text-success" style="font-size:20px;">&nbsp;&nbsp;Más barato</a>
				}
				<br />
				<div style="margin-top:5px; margin-bottom:5px;">
					@foreach (Service s in Camping2Has)
					{
						<div style="display:inline-block; margin-left:3px; margin-right:3px">
							<img width="60" height="60" src="data:image/png;base64,@Convert.ToBase64String(s.Icon)" />
						</div>
					}
					@if(Camping2Has.Count < 1)
					{
						<div style="height:60px"/>
					}
				</div>
				<a style="font-size:20px;">@camping2!.Capacity personas</a>
				@if (!IsBigger)
				{
					<a class="text-success" style="font-size:20px;">&nbsp;&nbsp;Mayor aforo</a>
				}
			</div>
		</div>		
	</BodyTemplate>
</Modal>
