@page "/campings/{Id}"
@using DAL.Models
@using CampingWebAssembly.Services.Interfaces

@inject HttpClient Http
@inject IJSRuntime JsRuntime;
@inject IAuthenticationService AuthService

<style>
    .star {
        font-size: 5vh;
        cursor: pointer;
        color: #d9d9d9;
    }

    .rated {
        color: #e1871d;
    }

</style>

<div style="padding:5px; padding-left:10px; background-color:#d9d9d9; margin-bottom:5px;">
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb breadcrumb-dark">
			<li class="breadcrumb-item"><a href="#">Página principal</a></li>
			<li class="breadcrumb-item"><a href="campings">Campamentos</a></li>
			<li class="breadcrumb-item active" aria-current="page">@Camp?.Name</li>
		</ol>
	</nav>
</div>

<div style="text-align:center">
	<h1 style="color:#d9d9d9">@Camp?.Name</h1>
</div>


<div>
	<div style="vertical-align:middle;">
        <div id="@carouselName" class="carousel slide" data-ride="carousel" style="width:50%; padding:10px; display:inline-block;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                @for(var i = 1; i == Images.Count; i++)
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @i"></button>
                }
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center" style="display:inline-block">
						@if(Camp != null)
						{
							<img class="d-block w-100" src="data:image/png;base64,@Convert.ToBase64String(Camp.Portrait)" alt="First slide">
						}
                    </div>
                </div>
                @foreach (ImageCamping i in Images)
                {
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center" style="display:inline-block">
                            <img class="d-block w-100" src="data:image/png;base64,@Convert.ToBase64String(i.Image)" alt="">
                        </div>
                    </div>
                }
            </div>
        </div>
		<div style="display:inline-block; height:100%; margin-left:30px">
			<h2 style="color:#e1871d">Nombre:&nbsp;&nbsp;&nbsp;<h2 style="color:#d9d9d9; display:inline-block"> @Camp?.Name</h2></h2>
			<h2 style="color:#e1871d">Localidad:&nbsp;&nbsp;&nbsp;<h2 style="color:#d9d9d9; display:inline-block"> @Camp?.Locality</h2></h2>
			<h2 style="color:#e1871d">Precio:&nbsp;&nbsp;&nbsp;<h2 style="color:#d9d9d9; display:inline-block"> @Camp?.Price € persona/noche</h2></h2>
			<h2 style="color:#e1871d">Servicios:&nbsp;&nbsp;
                <div style="display:inline-block;">
                    @foreach (Service s in Services)
                    {
                        <div style="display:inline-block; margin-left:3px; margin-right:3px">
                            <img width="40" height="40" src="data:image/png;base64,@Convert.ToBase64String(s.Icon)" />
                        </div>
                    }
                </div>
            </h2>
			<h2 style="color:#e1871d">Aforo:&nbsp;&nbsp;&nbsp;<h2 style="color:#d9d9d9; display:inline-block"> @Camp?.Capacity personas</h2></h2>
            <div>
                <h2 style="color:#e1871d; display:inline-block">Contacto:&nbsp;&nbsp;&nbsp;<h2 style="color:#d9d9d9; display:inline-block"> @OwnerMail</h2></h2>
                <Button class="btn btn-sm btn-primary" @onclick="OnShowMailClick" disabled="@IsntLogged" style="background-color:#e1871d; border-color:#e1871d; display:inline-block; margin-left:10px"><i class="bi bi-envelope-at-fill" style="color:#d9d9d9"></i></Button>
            </div>   
			<div>
                <span onclick="gfg(1)"
                      class="star">
                    ★
                </span>
                <span onclick="gfg(2)"
                      class="star">
                    ★
                </span>
                <span onclick="gfg(3)"
                      class="star">
                    ★
                </span>
                <span onclick="gfg(4)"
                      class="star">
                    ★
                </span>
                <span onclick="gfg(5)"
                      class="star"
                      style="margin-right:30px">
                    ★
                </span>
                <Button class="btn btn-lg btn-primary" @onclick="OnShowRequestClick" disabled="@IsntLogged" style="background-color:#e1871d; border-color:#e1871d; display:inline-block;">Solicitar</Button>
			</div>
		</div>
	</div>
	<div style="margin-left:20px;">
		<h2 style="color:#e1871d">Descripción:</h2>
		<div>
			<p style="color:#d9d9d9; font-size:medium">@Camp?.Description</p>
		</div>
        <div style="text-align:left">
            <h2 style="color:#e1871d; margin-right:15px; display:inline-block">Comentarios:</h2>
            <Button class="btn btn-primary" @onclick="OnShowCommentClick" disabled="@IsntLogged" style="background-color:#e1871d; border-color:#e1871d; display:inline-block;"><i class="bi bi-chat-left-fill" style="color:#d9d9d9"></i></Button>
        </div>
		
		<div>
            @foreach(CommentView c in DisplayComments)
            {
                <div class="d-flex" style="text-align:left; width:500px; height:100px; background-color:#d9d9d9; margin-bottom:10px; border-radius:3px; ">
                    <div style="display:inline-block; width:150px; min-width:150px; vertical-align:middle; float:left; margin-left: 10px; margin-top:25px;">
                        <a style="color:#e1871d; font-size:15px">@c.UserName</a>
                        <div class="star"
                                  style="color:#e1871d;">
                        @for(var i = 0; i < c.Rating; i++)
                        {
                                <a style="font-size:25px;">★</a>
                        }
                        </div>
                    </div>
                    <div class="vr" style="display:inline-block; margin-left:10px; margin-right:10px; float:left"></div>
                    <div style="display:inline-block; float:left; margin-top:25px;">
                        <p class="text-left">@c.Content</p>
                    </div>
                </div>
            }
		</div>
	</div>
</div>

<Modal @ref="requestModal" Title="Selecciona las fechas">
    <BodyTemplate>
        <form @onsubmit="Request">
            <RadzenStack>
                <RadzenLabel Text="Fecha de llegada" Component="DatePickerStart" Style="margin-right: 8px; vertical-align: middle;" />
                <RadzenDatePicker @bind-Value=@requested_start Name="DatePickerStart" DateFormat="dd/MM/yyyy" ShowCalendarWeek />
            </RadzenStack>
            <RadzenStack>
                <RadzenLabel Text="Fecha de fin" Component="DatePickerEnd" Style="margin-right: 8px; vertical-align: middle;" />
                <RadzenDatePicker @bind-Value=@requested_end Name="DatePickerEnd" DateFormat="dd/MM/yyyy" ShowCalendarWeek /> <br />
            </RadzenStack>            
            <button type="submit" class="btn btn-primary">Enviar solicitud</button>
        </form>
    </BodyTemplate>
</Modal>

<Modal @ref="commentModal" Title="Escribe un comentario">
    <BodyTemplate>
        <form @onsubmit="WriteComment">
            <div class="form-group">
                <label for="content">Dinos tu opinión</label>
                <textarea class="form-control" id="content" rows="3" @bind="UserComment.Content"/>
            </div>
            <div class="form-group">
                <label for="rating">Puntua este campamento</label>
                <input type="number" id="rating" min="1" max="5" @bind="UserComment.Ratings"/>
            </div>
            <button type="submit" class="btn btn-primary">Enviar comentario</button>
        </form>
    </BodyTemplate>
</Modal>

<Modal @ref="mailModal" Title="Contacta con el responsable">
    <BodyTemplate>
        <form @onsubmit="WriteMail">
            <div class="form-group">
                <label for="content">Escribe un correo</label>
                <textarea class="form-control" id="content" rows="3" @bind="MailContent" />
            </div>
            <button type="submit" class="btn btn-primary">Enviar correo</button>
        </form>
    </BodyTemplate>
</Modal>